
/* Section-1 */
.First-Container{
    margin-top: 50px;
    position: relative;
    display: flex;
    justify-content: center;
}

.First-Container-Texts{
    font-family: 'Merriweather', serif;
    font-size: 32px;
    position: absolute;
    color: white;
    text-align: center;
    margin-top: 177px;
    margin-bottom: 177px;
}
.p-1{
    margin-top: 0px;
    font-size: 32px;
    font-weight: 400;
}
.p-2{
    font-size: 72px;
    margin-top: 16px;
    font-weight: 900;
}


/* Section-2 */

.Second-Container{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

.Second-Container-Texts{
    margin-top: 0px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 48px;
}

.p2-1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.p2-2{
    margin-top: 0px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}

.p2-3{
    margin-top: 16px;
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0px;
}

/* Section-3 */

.Third-Container{
    position: relative;
    display: flex;
    justify-content: center;
}

.Third-Container-Texts-png{
    margin-top: 70px;
    gap: 200px;
    display: flex;
    justify-content: center;
    position: absolute;
}

.p3-1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 0px;
}
.p3-2{
    margin-top: 24px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}
.p3-3{
    margin-top: 48px;
    margin-left: 32px;
    color: #FFF;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}

/* Section-4 */

.Fourth-Container{
    position: relative;
    border-radius: 8px;
    margin: 120px 0px 120px;
    display: flex;
    justify-content: center;

}

.Fourth-Container-Txtbtn{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    text-align: center;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 48px;
    
}

.p4-redtext{
    color: #F00;
}

.button{
    background-color: #FF0000;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    width: 167px ;
    height: 56px ;
    border-radius: 8px;
    border: none;
}

/* Section-5 */
.Fifth-container{
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.fifth-contants{
    max-width: 1320px;
    max-height: 463px;
    display: flex;
    justify-content: center;
    
}

.p5-1{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.p5-2{
    margin-top: 0px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0px;


}
.p5-3{
    margin-top: 22px;
    color: rgba(7, 2, 17);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.Fifth-container-txts{
    margin-right: 120px;
    padding-top: 70px;

}

.middle image {
    align-items: center;
    
}

.p5-4{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.p5-5{
    color: rgba(7, 2, 17);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.Fifth-container-txts-img{
    margin-left: 167px;
    padding-top: 50px;
    
}

/* section-6 */
.sixth-container{
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.sisth-contants{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    max-width: 1320px;
    /* max-height: 986px; */
}

.sisth-container-txts{
    text-align: center;
}

.p6-1{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16;
}
.Holidays{
    color: #F00;
}

.p6-2{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 28px;
}
.p6-3{
    margin-top: 0px;
    color: rgba(7, 2, 17);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    padding: 0px 140px;
}

.c-6-Image{
    position: relative;
    max-width: 1320px;
    max-height: 672px;
}

.box ,.discount{
    position: absolute;
}

/* section-7 */

.seventh-container{
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.seventh-contants{
    display: flex;
    flex-direction: column;
    justify-content: left;
    
}

.seventh-txts {
    text-align: left;
    margin-bottom: 48px;
}

.p7-1{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16;
}

.p7-2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;

}
.p7-3{
    color: rgba(7, 2, 17);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.c7-image-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 20px;
}

.c7-Image-top{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.c7-Image-bottom{
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* section - 8*/

.eight-container{
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
    
}

.eight-allcontants{
    background-color: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 616px;
}

.textandicon{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.p8-1{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.p8-2{
    color: rgb(7, 2, 17);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.email input{

}